---

---

<header>
  <nav>
    <div class="logo">
      <img src="/public/assets/Logo.svg" alt="Logo">
    </div>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
    </ul>
  </nav>
</header>

<style>
  header{
    max-width: 100%;
    height: 8rem;
  }
  
  nav{
    max-width: 80%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    height: 80%;
    & img{
      height: 100%;
    }
  }

  ul{
    display: flex;
    gap: 3rem;
  }


</style>