---
import BtnCon from "./BtnCon.astro"
---

<section class="hero-section">
  <article class="hero-content">
    <div class="hero-info">

      <h1>CURSOS PRE - UNIVERSITARIOS</h1>
      <p>Centro de Nivelación y Enseñanza Matias - Bolivia
        Una institución que tiene por objetivo brindarte las herramientas necesarias para tu ingreso a la universidad</p>
      <div>
        <BtnCon type="light"/>
      </div>
    </div>

    <div class="hero-img-grid">
      <div class="hero-img img-1">
        <img src="/public/assets/derecho.png" alt="imagen-hero-grid">
      </div>
      <div class="hero-img img-2">
        <img src="/public/assets/informatica.png" alt="imagen-hero-grid">
      </div>
      <div class="hero-img img-3">
        <img src="/public/assets/medicina.png" alt="imagen-hero-grid">
      </div>
      <div class="hero-img img-4">
        <img src="/public/assets/arquitectura.png" alt="imagen-hero-grid">
      </div>
    </div>
  </article>
  <div class="bg-sec"></div>

</section>

<style>
  .hero-section{
    width: 100%;
    min-height: 100dvh;
    padding-top: 8rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(16%2c 44%2c 87%2c 1)'%3e%3c/rect%3e%3cpath d='M310.6266818998339 370.38454099298417L240.7648487074977 417.50694248343984 287.8872501979534 487.3687756757761 357.74908339028957 440.2463741853204z' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-88.46279640844472 40.94997474411773L25.590164201182603 101.59300960917165 86.23319906623652-12.459951000455675-27.819761543390804-73.1029858655096z' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M850.714%2c371.993C887.031%2c371.928%2c925.159%2c364.11%2c944.829%2c333.581C965.976%2c300.761%2c965.919%2c257.808%2c945.875%2c224.303C926.323%2c191.62%2c888.781%2c177.42%2c850.714%2c176.259C810.085%2c175.02%2c765.872%2c183.332%2c744.942%2c218.177C723.553%2c253.786%2c732.48%2c299.69%2c756.016%2c333.918C776.677%2c363.965%2c814.249%2c372.058%2c850.714%2c371.993' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M316.929%2c336.863C354.928%2c339.162%2c393.845%2c323.295%2c412.746%2c290.251C431.539%2c257.396%2c424.304%2c216.603%2c403.984%2c184.67C385.188%2c155.132%2c351.932%2c138.908%2c316.929%2c139.673C283.268%2c140.409%2c252.547%2c158.889%2c236.225%2c188.337C220.383%2c216.92%2c223.685%2c251.042%2c239.288%2c279.757C255.727%2c310.012%2c282.559%2c334.784%2c316.929%2c336.863' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1298.38%2c169.754C1335.691%2c167.764%2c1366.668%2c144.206%2c1385.546%2c111.962C1404.655%2c79.321%2c1410.514%2c40.459%2c1393.997%2c6.433C1375.13%2c-32.433%2c1341.561%2c-66.216%2c1298.38%2c-67.6C1253.24%2c-69.047%2c1213.371%2c-39.585%2c1191.523%2c-0.058C1170.389%2c38.177%2c1170.199%2c85.234%2c1193.467%2c122.209C1215.384%2c157.038%2c1257.287%2c171.946%2c1298.38%2c169.754' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1134.337%2c219.044C1162.781%2c219.127%2c1180.445%2c191.087%2c1193.585%2c165.86C1205.472%2c143.038%2c1211.103%2c117.004%2c1199.429%2c94.073C1186.64%2c68.952%2c1162.52%2c48.888%2c1134.337%2c49.481C1106.917%2c50.058%2c1086.193%2c72.238%2c1073.821%2c96.715C1062.728%2c118.661%2c1064.782%2c143.477%2c1075.685%2c165.517C1088.264%2c190.945%2c1105.968%2c218.961%2c1134.337%2c219.044' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M667.2038027917708 144.7647659924566L713.5349313876123 265.46148245240545 834.2316478475612 219.13035385656391 787.9005192517197 98.43363739661507z' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M311.955%2c442.075C330.164%2c441.188%2c347.298%2c433.194%2c356.729%2c417.592C366.5%2c401.428%2c368.134%2c381.117%2c358.69%2c364.759C349.246%2c348.401%2c330.833%2c340.675%2c311.955%2c340.039C291.706%2c339.357%2c270.404%2c344.385%2c259.432%2c361.417C247.642%2c379.72%2c247.048%2c404.111%2c258.929%2c422.356C269.958%2c439.293%2c291.767%2c443.059%2c311.955%2c442.075' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M244.002%2c442.543C275.768%2c441.762%2c307.657%2c428.071%2c321.936%2c399.684C335.173%2c373.369%2c320.763%2c344.384%2c306.282%2c318.732C291.442%2c292.444%2c274.186%2c262.067%2c244.002%2c261.629C213.393%2c261.185%2c194.208%2c290.597%2c178.509%2c316.877C162.213%2c344.156%2c144.454%2c375.506%2c159.14%2c403.685C174.551%2c433.256%2c210.666%2c443.362%2c244.002%2c442.543' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M876.909%2c238.577C905.469%2c238.697%2c935.283%2c232.111%2c950.835%2c208.157C967.669%2c182.227%2c968.711%2c148.165%2c952.822%2c121.646C937.325%2c95.781%2c907.026%2c83.309%2c876.909%2c84.769C849.217%2c86.111%2c826.905%2c104.594%2c812.756%2c128.437C798.246%2c152.887%2c789.741%2c182.973%2c804.051%2c207.54C818.291%2c231.988%2c848.616%2c238.458%2c876.909%2c238.577' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M619.17%2c520.109C659.214%2c522.69%2c695.142%2c496.52%2c715.113%2c461.716C734.988%2c427.079%2c737.492%2c384.112%2c716.81%2c349.951C696.783%2c316.872%2c657.826%2c302.225%2c619.17%2c303.244C582.389%2c304.214%2c547.042%2c322.235%2c530.058%2c354.875C514.14%2c385.465%2c526.129%2c420.239%2c542.498%2c450.59C560.05%2c483.135%2c582.271%2c517.731%2c619.17%2c520.109' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M604.746312600225 38.35313526162334L661.2348128818248 193.5540142441751 816.4356918643766 137.06551396257524 759.9471915827768-18.13536501997652z' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M747.6269798067765 422.8075096052271L787.0395155731518 580.8825565993045 945.1145625672293 541.4700208329293 905.7020268008539 383.3949738388518z' fill='rgba(234%2c 219%2c 200%2c 0.21)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .hero-section .bg-sec{
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 20%;
    background-color: var(--accent-color);
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
    z-index: 1;
  }
  .hero-content{
    max-width: 80%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .hero-info{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;

    & h1{
      font-size: 2rem;
      font-family: var(--title-text);
      color:white;
      font-weight: bolder;
    }

    & p{
      font-size: 1.6rem;
      color: white;
    }
  }



/* Hero img grid */
  .hero-img-grid{
    flex: 1;
    width: 100%;
    height: 50dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 15px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
      "A B"
      "A C"
      "D C";
  }
  .img-1{grid-area: A;box-shadow: 0px 0px 10px 3px #8080809d; overflow: hidden;}
  .img-2{grid-area: B;box-shadow: 0px 0px 10px 3px #8080809d; overflow: hidden;}
  .img-3{grid-area: C;box-shadow: 0px 0px 10px 3px #8080809d; overflow: hidden;}
  .img-4{grid-area: D;box-shadow: 0px 0px 10px 3px #8080809d; overflow: hidden;}

  .img-1, .img-3{
    border-radius: 40%;
  }

  .img-2{
    border-radius: 45%;
    border-top-right-radius: 0;
  }
  .img-4{
    border-radius: 45%;
    border-bottom-left-radius: 0;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }



  @media(min-width: 768px){
    .hero-img-grid{
      width: 40%;
      height: 80%;
    }

    .hero-content{
      flex-direction: row;
      height: 100%;
    }

    .hero-info{
      width: 60%;
      padding-right: 7%;

      & h1{
        font-size: 4rem;
      }

      & p{
        font-size: 2rem;
      }
    }
  }
</style>