---

---

<article class="logo">
  <img src="/public/assets/Logo.png" alt="Logo" />
  <div>
    <h2>CNEM</h2>
    <h3>Centro de Nivelación</h3>
    <h3>y Enseñanza Matias</h3>
  </div>
</article>

<style>
  .logo{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;

    & h2{
      font-size: 3rem;
      font-weight: bolder;
    }
    & h3{
      text-wrap: nowrap;
    }

    & img{
      height: 100%;
    }
  }
</style>