---
import CardSlider from "./CardSlider.astro"
import cursos from "../assets/data_courses.json"
---
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    <CardSlider src="./public/assets/Fondohero.jpg" title="Cursos Pre Universitarios"
                desc="Estudia con los mejores profesionales y aprueba tu examen de admisión"/>

    {
      cursos.cursos.map((curso) =>(
          <CardSlider 
            src={curso.imagenFondo}
            title={curso.titulo} 
            dat_start={curso.fechaInicio}
          />
      ))
    }
    
  </div>
  
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<style>
  .swiper {
    max-width: 80%;
    height: 80dvh;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px #565656b7;
    margin-top: 10rem;
  }
</style>

<script type="module" src="/src/js/swiper_hero.js"></script>



