---
import CardSlider from "./CardSlider.astro"
import cursos from "../assets/data_courses.json"
---
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

    {
      cursos.cursos.map((curso) =>(
          <CardSlider src={curso.imagenFondo} />
      ))
    }
    
  </div>
  
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<style>
  .swiper {
  max-width: 80%;
  height: 80dvh;
  border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px #565656b7;
}
</style>

<script type="module" src="/src/js/swiper_hero.js"></script>



